body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 240px;
    margin-bottom: -10px;
    margin-left: -20px;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 396px;
    text-align: center;
}

.login-form p {
    font-size: 18px;
    line-height: 22px;
    width: auto;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 14px 16px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.forgot-password {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-top: 16px;
}

.divider {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.create-account {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
